<!-- Section -->
<section>
    <header class="major">
        <h2>Volunteer Options</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-newspaper"></span>
            <div class="content">
                <h3><a href="/events/">Newsroom</a></h3>
                <p>Help with production and maintenance of the website</p>
                <ul>
                    <li>Write current events, stories of interest, opinions</li>
                    <li>Collect, Organize, Describe Media (photo/video/audio)</li>
                    <li>Events Calendar / Social Media</li>
                </ul>
            </div>
        </article>
        <article>
            <span class="icon solid fa-calendar"></span>
            <div class="content">
                <h3><a href="/community/">Events</a></h3>
                <p>Got a knack for organizing and bringing people together? Have some space available?</p>
                <ul>
                    <li>Help create new music events in the area</li>
                    <li>Consult or run sound / staging for events</li>
                    <li>Provide space for live music or educational events</li>
                    <li>Host or emcee live events</li>
                </ul>
            </div>
        </article>
        <article>
            <span class="icon solid fa-graduation-cap"></span>
            <div class="content">
                <h3><a href="/events/planning/">Teaching</a></h3>
                <p>Create avenues for learning to complement existing community offerings</p>
                <ul>
                    <li>Create new classes or learning opportunities</li>
                    <li>Programs for youth, seniors, disabled and disadvantaged</li>
                </ul>
            </div>
        </article>
        <article>
            <span class="icon solid fa-life-ring"></span>
            <div class="content">
                <h3>Sharing</h3>
                <p>Financial Generosity and Community Outreach </p>
                <ul>
                    <li>Fundraising and Donations</li>
                    <li>Community Outreach Groups / Visits by Musicians</li>

                </ul>
            </div>
        </article>
    </div>
</section>