<!-- Section -->
<section>
    <h3>Volunteer Project Ideas</h3>
    <div class="features">
        <article>
            <span class="icon fa-newspaper" style="color: var(--sitecolor-blue)"></span>
            <div class="content">
                <h3><a href="/community/volunteering/website/">Newsroom</a></h3>
                <p>Help with production and maintenance of the website</p>
                <a class="button small" href="/community/volunteering/website/">Learn More</a>
            </div>
        </article>
        <article>
            <span class="icon solid fa-calendar" style="color: var(--sitecolor-darkred)"></span>
            <div class="content">
                <h3><a href="/community/volunteering/event-planning-and-hosting/">Events</a></h3>
                <p>Good for planners and organizers. Also if you have creative space available at your business, venue, or property</p>
                <a class="button small" href="/community/volunteering/event-planning-and-hosting/">Learn More</a>

            </div>
        </article>
        <article>
            <span class="icon solid fa-graduation-cap" style="color: var(--sitecolor-dark)"></span>
            <div class="content">
                <h3><a href="/community/volunteering/teaching/">Teaching</a></h3>
                <p>Create avenues for learning to complement existing community offerings</p>
                <a class="button small" href="/community/volunteering/teaching/">Learn More</a>

            </div>
        </article>
        <article>
            <span class="icon solid fa-life-ring" style="color: var(--sitecolor-red)"></span>
            <div class="content">
                <h3><a href="/community/volunteering/sharing/">Sharing</a></h3>
                <p>Financial Generosity and Community Outreach </p>
                <a class="button small" href="/community/volunteering/sharing/">Learn More</a>

            </div>
        </article>
    </div>
</section>