<!-- Section -->
<section>
    <header class="major">
        <h2>Volunteer Options</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-newspaper"></span>
            <div class="content">
                <h3><a href="/community/volunteering/website/">Newsroom</a></h3>
                <p>Help with production and maintenance of the website</p>
                <a class="button small" href="/community/volunteering/website/">Learn More</a>
            </div>
        </article>
        <article>
            <span class="icon solid fa-calendar"></span>
            <div class="content">
                <h3><a href="/community/volunteering/event-planning-and-hosting/">Events</a></h3>
                <p>Good for planners and organizers. Also if you have creative space available at your business, venue, or property</p>
                <a class="button small" href="/community/volunteering/event-planning-and-hosting/">Learn More</a>

            </div>
        </article>
        <article>
            <span class="icon solid fa-graduation-cap"></span>
            <div class="content">
                <h3><a href="/community/volunteering/teaching/">Teaching</a></h3>
                <p>Create avenues for learning to complement existing community offerings</p>
                <a class="button small" href="/community/volunteering/teaching/">Learn More</a>

            </div>
        </article>
        <article>
            <span class="icon solid fa-life-ring"></span>
            <div class="content">
                <h3><a href="/community/volunteering/sharing/">Sharing</a></h3>
                <p>Financial Generosity and Community Outreach </p>
                <a class="button small" href="/community/volunteering/sharing/">Learn More</a>

            </div>
        </article>
    </div>
</section>