{% macro make_box(box) %}
<!-- Box -->
<section class="box feature"> <!-- 373x295 -->
    <a href="{{ box.data.href }}" class="image featured">
        <img src="https://api.rethumb.com/v1/width/373/height/295/https://claremont-musak-scene.s3-us-west-1.amazonaws.com/site-media/{{ box.data.image }}" alt="{{ box.data.alt }}"/>
    </a>
    <div class="inner">
        <header>
            <h2>{{ box.data.header | safe }}</h2>
        </header>
        <p>{{ box.templateContent | safe }}</p>
    </div>
</section>
{%  endmacro %}


{% macro make_box_with_markdown_path(box) %}
    <!-- Box -->
    <section class="box feature"> <!-- 373x295 -->
        <a href="{{ box.data.href }}" class="image featured">
            <img src="https://api.rethumb.com/v1/width/373/height/295/https://claremont-musak-scene.s3-us-west-1.amazonaws.com/site-media/{{ box.data.image }}" alt="{{ box.data.alt }}"/>
        </a>
        <div class="inner">
            <header>
                <h2>{{ box.data.header | safe }}</h2>
            </header>
            <p>{% markdown box.data.mdpath %}</p>
        </div>
    </section>
{%  endmacro %}