{% extends '_base/no-sidebar.njk' %}

{% block main %}
  <div id="main-wrapper">
					<div class="container">
						<div id="content">

							<!-- Content -->
								<article>
									<h2>{{ title }}</h2>
									{% block content %}{{ content | safe }}{% endblock %}

								</article>

						</div>
					</div>
				</div>
                <div class="container" style="width: 100%; background-color: #00aeef; color: white; font-style: italic; padding: 2em 5% 2em 5%; font-size: 2em;">
                  The music scene grows in vibrancy as the sum of its members.
                  <br>A beautiful organic orchestra; a choir of the commons.
                </div>


{% endblock %}