<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="/"> <img src="/images/Logo-black-and-white-no-text-110x75px.png"/>
            </a></h1>
            <span>Claremont Music Scene</span>
        </div>

        {% include '_sections/nav.njk' %}

    </header>
</div>