<!DOCTYPE HTML>
<!-- design based on
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    		{% include '_sections/head.njk' %}

</head>
<body class="is-preload homepage">
<div id="page-wrapper">

 <div class="container">
        <div class="row">
                {% include '_sections/home-nav.njk' %}
        </div>
    </div>

    <!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="col-7 col-12-medium">
                    <h2>Claremont Music Scene</h2>
                    <p>A Community Project to Promote Music and the Arts</p>
                </div>
                <div class="col-5 col-12-medium">
                    <img src="/images/Logo-Color-on-White-no-text.svg" style="width: 100%; height: auto"/>
                </div>
            </div>
        </div>
    </div>

    {# TODO image alts #}

    <!-- Features -->
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                {%  import '_macros/box.njk' as box %}
                {%- for hpbox in collections.homepage_box -%}
                    <div class="col-4 col-12-medium">
                        {{ box.make_box(hpbox) }}
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-medium">

                    <!-- Sidebar -->
                    <div id="sidebar">
                        <section class="widget thumbnails">
                            <h3>Interesting stuff</h3>
                            <div class="grid">
                                <div class="row gtr-50">
                                    <div class="col-6"><a href="#" class="image fit"><img src="https://api.rethumb.com/v1/width/160/height/120/https://claremont-musak-scene.s3-us-west-1.amazonaws.com/site-media/tabula-rasa-junction.jpg"
                                                                                          alt=""/></a></div>
                                    <div class="col-6"><a href="#" class="image fit"><img src="https://api.rethumb.com/v1/width/160/height/120/https://claremont-musak-scene.s3-us-west-1.amazonaws.com/site-media/technopagan.jpg"
                                                                                          alt=""/></a></div>
                                    <div class="col-6"><a href="#" class="image fit"><img src="https://api.rethumb.com/v1/width/160/height/120/https://claremont-musak-scene.s3-us-west-1.amazonaws.com/site-media/jazzy-boys-cropped-bw.jpg"
                                                                                          alt=""/></a></div>
                                    <div class="col-6"><a href="#" class="image fit"><img src="https://api.rethumb.com/v1/width/160/height/120/https://claremont-musak-scene.s3-us-west-1.amazonaws.com/site-media/corner-gang-wtf.jpg"
                                                                                          alt=""/></a></div>
                                </div>
                            </div>
                            <a href="#" class="button icon fa-file-alt">More</a>
                        </section>
                    </div>

                </div>
                <div class="col-8 col-12-medium imp-medium">

                    <!-- Content -->
                    <div id="content">
                        <section class="last">
                            <h2>So what's this all about?</h2>
                            <p>Claremont Music Scene was created with a purpose of elevating the music and arts community in and around Claremont, CA.</p>

<p>By creating a network of like minded people and a set of tools and channels for managing an organic community,
the music scene becomes a product of those who are a part of it.  Whether you're a performer, educator, venue, or a fan -
Claremont Music Scene has something for you.  Our events calendar keeps you up-to-date on what's happening around town.
    Use our social media channels and web presence to promote your gigs, fill your classes and to connect with others.</p>
                            <a href="{{ '/about' | url }}" class="button icon solid fa-arrow-circle-right">Continue Reading</a>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>

 {% include '_sections/footer.njk' %}
</div>

<!-- Scripts -->

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery.dropotron.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>