{% extends '_base/right-sidebar.njk' %}

{% block content %}
{% endblock %}

{% block right_sidebar %}
<div id="sidebar">

    <!-- Sidebar -->
    <section>
        <h3>Looking for Help With An Event?</h3>
        <p>Let's start a conversation</p>
        <form action="/my-handling-form-page" method="post">
            <ul>
                <li>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="user_name">
                </li>
                <li>
                    <label for="mail">E-mail:</label>
                    <input type="email" id="mail" name="user_mail">
                </li>
                <li>
                    <label for="msg">Message:</label>
                    <textarea id="msg" name="user_message"></textarea>
                </li>
                <li>
                    <button type="submit">Send your message</button>
                </li>
            </ul>
        </form>

    </section>


    <section>
        <h3>Events Directory</h3>
        <ul class="style2">
            <li><a href="#">Meetup Group</a></li>
            <li><a href="#">The Press Events Calendar</a></li>
            <li><a href="#">Claremont Community School of Music</a></li>
            <li><a href="#">Colleges Music Calendar</a></li>
            <li><a href="#">Upcoming Music Events</a></li>
            <li><a href="#">Summer Concert Series</a></li>
        </ul>
    </section>

</div>
{% endblock %}