<section>
    <h3>Events Directory</h3>
    <ul class="style2">
        <li><a href="https://www.meetup.com/Claremont-Music-Scene/">Meetup Group</a></li>
        <li><a href="https://thepressrestaurant.com/c-a-l-e-n-d-a-r">The Press Events Calendar</a></li>
        <li><a href="https://www.claremontmusic.org/">Claremont Community School of Music</a></li>
        <li><a href="https://www.pomona.edu/academics/departments/music/concert-calendar">Colleges Music Calendar</a></li>
        <li><a href="#">Upcoming Music Events</a></li>
        <li><a href="https://www.ci.claremont.ca.us/government/departments-divisions/human-services/special-events/concerts-in-the-park">Summer Concert Series</a></li>
    </ul>
</section>