{{ define "main" }}
<!-- Content -->
<section>
    <header class="main">
        <h2>{{ .Title }}</h2>
    </header>

    {{ .Content }}

    {{ if .Pages }}
    <div class="posts">
        {{ range .Pages }}


        <article>
        <a href="{{ .Permalink }}" class="image">
            {{ partial "img/responsive" (dict "src" (.Resources.GetMatch .Params.primary_image) "sizes" "(min-width: 30em) 43vw, 95vw")  }}
        </a>
        <h3>{{ .Params.title }}</h3>
        {{.Content}}
        <ul class="actions">
            <li><a href="{{ .Permalink }}" class="button">{{ with .Params.Get "action_text" }}{{ . }}{{ else }}More{{ end }}</a></li>
        </ul>
    </article>
        {{ end }}
    </div>
    {{ end }}

</section>
{{ end }}