{{ define "main" }}
<!-- Content -->
<section>

    <header class="main">
        <h2>{{ .Title }}</h2>
    </header>

    {{ .Content }}

    {{ if .Pages }}
    <ul>
        {{ range .Pages }}
        {{ .Render "li" }}
        {{ end }}
    </ul>
    {{ end }}
</section>

<div class="container"
     style="width: 100%; background-color: #262262; color: white; font-style: italic; padding: 2em 5% 2em 5%; font-size: 2em;">
    The music scene grows in vibrancy as the sum of its members.
    <br>A beautiful organic orchestra; a choir of the commons.
</div>
{{ end }}