<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">
            {{- partial "header.html" . -}}
            <div class="container"
                 style="width: 100%; background-color: #990000; color: white; font-style: italic; padding: 2em 5% 2em 5%; font-size: 1.25em;">
                Due to the Covid-19 Pandemic, events have been cancelled or postponed. Information on these pages may be inaccurate
                or out-of-date due to the circumstances.  We will work to update and adapt the information accordingly as time progresses.
            </div>
            {{- block "main" . }}{{- end }}
        </div>
    </div>

    {{- partial "sidebar" . -}}
</div>
{{- partial "end-of-body-scripts" . -}}
</body>
</html>
