{{ define "main" }}
<div id="main-wrapper">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-8 col-12-medium">
                <div id="content">

                    <!-- Content -->
                    <article>

                        <div class="container">
                            <div class="row">
                                <div class="col-6 col-12-medium">

                                    <!-- Box -->
                                    <section class="box feature"> <!-- 373x295 -->
                                        <a href="/events" class="image featured">
                                            <img src="https://api.rethumb.com/v1/width/373/height/295/https://claremont-musak-scene.s3-us-west-1.amazonaws.com/site-media/technopagan.jpg"
                                                 alt="Technopagan performs at Friday Nigths Live in front of city hall">
                                        </a>
                                        <div class="inner">
                                            <header>
                                                <h2>Events and Experiences</h2>
                                            </header>
                                            <p></p>
                                            <p>Check out our <a href="/events/calendar/">events calendar</a></p>
                                            <p></p>
                                        </div>
                                    </section>

                                </div>
                                <div class="col-6 col-12-medium">

                                    <!-- Box -->
                                    <section class="box feature"> <!-- 373x295 -->
                                        <a href="/guides" class="image featured">
                                            <img src="https://api.rethumb.com/v1/width/373/height/295/https://claremont-musak-scene.s3-us-west-1.amazonaws.com/site-media/tabula-rasa-junction.jpg"
                                                 alt="Tabula Rasa performs at The Junction open mic">
                                        </a>
                                        <div class="inner">
                                            <header>
                                                <h2>Local Music / Open Mics / Jam Sessions</h2>
                                            </header>
                                            <p></p>
                                            <p>Use our <a href="/events/guide/">events guide</a> to help connect you to
                                                the best opportunities for:</p>
                                            <ul>
                                                <li>Local music performances</li>
                                                <li><a href="/events/open-mic/">Open Mics</a> in the area</li>
                                                <li>Jam sessions, drum circles</li>
                                                <li>Highlighting opportunities for people of all ages and experience
                                                    levels.
                                                </li>
                                            </ul>
                                            <p></p>
                                        </div>
                                    </section>

                                </div>
                            </div>
                        </div>


                    </article>

                </div>
            </div>
            <div class="col-4 col-12-medium">

                <div id="sidebar">

                    <!-- Sidebar -->
                    <section>
                        <h3>Event Planning</h3>
                        <p>Do you have an idea for an event or want to try something out? Take advantage of our network
                            to help with
                            planning and promotion.</p>
                        <footer>
                            <a href="/events/planning/" class="button icon solid fa-info-circle">Find out more</a>
                        </footer>
                    </section>

                    <section>
                        <h3>Events Directory</h3>
                        <ul class="style2">
                            <li><a href="#">Meetup Group</a></li>
                            <li><a href="#">The Press Events Calendar</a></li>
                            <li><a href="#">Claremont Community School of Music</a></li>
                            <li><a href="#">Colleges Music Calendar</a></li>
                            <li><a href="#">Upcoming Music Events</a></li>
                            <li><a href="#">Summer Concert Series</a></li>
                        </ul>
                    </section>

                </div>

            </div>
        </div>
    </div>
</div>
{{ end }}