{{ define "main" }}
<!-- Content -->
<section>
    <header class="main">
        <h2>{{ .Title }}</h2>
    </header>

    {{ .Content }}

    {{ if .Pages }}
    <div class="posts">
        {{ range .Pages }}
         <article>
            <span class="image left"><a href="{{ .Permalink }}" class="image">{{ partial "img/fit" (.Resources.GetMatch .Params.primary_image) }}</a></span>
            <h3>{{ .Params.title }}</h3>
            <p>{{ .Content }}</p>
            <ul class="actions">
                <li><a href="{{ .Permalink }}" class="button">More Information</a></li>
            </ul>
        </article>
        {{ end }}
    </div>
    {{ end }}
</section>
{{ end }}