{{ define "main" }}
<!-- Content -->
<section>
    {{ partial "breadcrumbs" . }}

    <div class="row">
        <div class="col-6 col-12-medium">
            {{ partial "box-with-title" (dict "Content" .Content "title" .Title) }}
        </div>
        <div class="col-6 col-12-medium">
            <header class="main">
                {{ if .Params.primary_image }}
                {{ partial "img/fit" (.Resources.GetMatch .Params.primary_image) }}
                {{ end }}
            </header>
        </div>

    </div>


    {{ .Content }}


    {{ partial "img/grid" (partial "img/get_gallery_resources" .) }}

</section>
{{ end }}