{{ define "main" }}
<!-- Content -->
<section>
    <div class="row">

        <div class="col-6 col-12-medium">
            <h3>{{ .Title }}</h3>
            <!--<div class="box">-->

                <div class="table-wrapper">
                    <table>
                        <tbody>
                        {{ with .Params.Get "website" }}
                            <tr>
                                <td>Website</td>
                                <td>{{ . }}</td>
                            </tr>
                        {{ end }}
                        {{ with .Params.Get "twitter" }}
                            <tr>
                                <td>Twitter</td>
                                <td>{{ . }}</td>
                            </tr>
                        {{ end }}
                        {{ with .Params.Get "facebook" }}
                            <tr>
                                <td>Facebook</td>
                                <td>{{ . }}</td>
                            </tr>
                        {{ end }}
                        {{ with .Params.Get "address" }}
                            <tr>
                                <td colspan="2">{{ . }}</td>
                            </tr>
                        {{ end }}
                        </tbody>

                    </table>
                </div>
           <!-- </div>-->

        </div>

        <div class="col-6 col-12-medium">
            <header class="main">
                {{ if .Params.primary_image }}
                {{ partial "img/fit" (.Resources.GetMatch .Params.primary_image) }}
                {{ end }}
            </header>
        </div>

    </div>

    {{ .Content }}

    {{ partial "img/grid" (partial "img/get_gallery_resources" .) }}

</section>
{{ end }}