<p>
    Sign up to receive access information for the Zoom meetings.  <i>Replies are not automatic and may take up to a few days.</i>
</p>
<form method="post" name="zoom-signup" data-netlify="true">
    <div class="row gtr-uniform">

        <div class="col-12">
            <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email">
        </div>

        <!-- Break -->
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" value="Send Me Meeting Details" class="primary"></li>
            </ul>
        </div>
    </div>
</form>