<dl>
    <dt>Monday Lunchtime Edition</dt>
    <dd>
        <p><i>You hadn't gotten any work done yet anyway</i><br/>
        <b>Next Meeting:</b> Monday ??? 12pm
        </p>
    </dd>
    <dt>Tuesday Evening Edition</dt>
    <dd>
        <p><i>More fun than a political election</i><br/>
        <b>Next Meeting:</b> Tuesday ??? 8pm
        </p>
    </dd>
    <dt>Sunday Afternoon Edition</dt>
    <dd>
        <p><i>Less commerials than the sports show</i><br/>
        <b>Next Meeting:</b> Sunday ??? 3pm
        </p>
    </dd>
</dl>