<!-- Section -->
<section>
    <header class="major">
        <h2>Connect With The Community</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-calendar-alt"></span>
            <div class="content">
                <h3><a href="/events/">Events Calendar & Guide</a></h3>
                <p>Check out our events calendar to find out what's happening in the area.

                    Our guides for ongoing events like open mics and music series performances will keep you
                    informed.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-graduation-cap"></span>
            <div class="content">
                <h3><a href="/community/">Learning & Lessons</a></h3>
                <p>Explore opportunities for learning: private lessons, group classes, music schools,
                    recreational classes, etc.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-bullhorn"></span>
            <div class="content">
                <h3><a href="/events/planning/">Planning & Promoting</a></h3>
                <p>Planning an event or have an idea? We can help with finding venues, connecting with
                    performers, and distributing information to our audience.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-book-open"></span>
            <div class="content">
                <h3>Information & Archives</h3>
                <p><a href="/news/">News articles</a>, photo and video galleries, event listings, venue
                    information</p>
            </div>
        </article>
    </div>
</section>