{{ define "main" }}
<!-- Content -->
<section>
    <div class="row">

        <div class="col-6 col-12-medium">
            <h3>{{ .Title }}</h3>
            <!--<div class="box">-->

            <div class="table-wrapper">
                <table>
                    <tbody>
                    <tr>
                        <td>Connect</td>
                        <td>
                            <ul class="icons">
                                {{ with .Params.Get "instagram" }}
                                <li><a href="{{.}}"
                                       class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                {{ end }}
                                {{ with .Params.Get "facebook" }}
                                <li><a href="{{.}}"
                                       class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                {{ end }}
                                {{ with .Params.Get "twitter" }}
                                <li><a href="{{.}}" class="icon brands fa-twitter"><span
                                        class="label">Twitter</span></a></li>
                                {{ end }}
                                {{ with .Params.Get "website" }}
                                <li><a href="{{.}}"><span
                                        class="label">Website</span></a></li>
                                {{ end }}
                                {{ with .Params.Get "website" }}
                                <li><a href="{{.}}"><span
                                        class="label">Events Calendar</span></a></li>
                                {{ end }}
                            </ul>
                        </td>
                    </tr>

                    {{ with .Params.Get "address_street" }}
                    <tr>
                        <td>Address</td>
                        <td>{{ . }}, {{ $.Params.Get "address_city" }}</td>
                    </tr>
                    {{ end }}
                    </tbody>

                </table>
            </div>
            <!-- </div>-->

        </div>

        <div class="col-6 col-12-medium">
            <header class="main">
                {{ if .Params.primary_image }}
                {{ partial "img/fit" (.Resources.GetMatch .Params.primary_image) }}
                {{ end }}
            </header>
        </div>

    </div>

    {{ .Content }}

    {{ partial "img/grid" (partial "img/get_gallery_resources" .) }}

</section>
{{ end }}